@model TestForCompanies.Models.Company

@{
    ViewData["Title"] = "Details";
}

<h2>Details Company</h2>
<hr />
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Uf)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Uf)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TradingName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TradingName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cnpj)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cnpj)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-success" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
    <a class="btn btn-default" asp-action="Index">Back to List</a>
</div>
